<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="icon"
      href="https://imagensemoldes.com.br/wp-content/uploads/2020/04/Logo-Pokebola-Pok%C3%A9mon-PNG.png"
    />

    <title>Pokedex</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section id="cards">
        <div class="cards">
          <img src="<%= pokemon.imagem %>" alt="" />

          <p>Number: <%= pokemon.id %></p>
          <p>Height: <%= pokemon.height %></p>
          <p>Weight: <%= pokemon.weight %></p>
          <p>Category: <%= pokemon.category %></p>
          <p>Abilities: <%= pokemon.abilities %></p>
        </div>
      </section>
    </main>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
