<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="icon"
      href="https://imagensemoldes.com.br/wp-content/uploads/2020/04/Logo-Pokebola-Pok%C3%A9mon-PNG.png"
    />

    <title>Pokedex</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section id="details">
        <div class="details">
          
          <img src="<%= pokemon.imagem %>" alt="" />
          <h2> <%= pokemon.name %> </h2>
          <p class="description"> <%= pokemon.description %> </p>
          <p class="description">Type: <%= pokemon.type %> </p>
          <p class="description">Number: <%= pokemon.id %></p>
          <p class="description">Height: <%= pokemon.height %></p>
          <p class="description">Weight: <%= pokemon.weight %></p>
          <p class="description">Category: <%= pokemon.category %></p>
          <p class="description">Abilities: <%= pokemon.abilities %></p>

        </div>
      </section>
    </main>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
